numpy==2.2.6
scipy==1.15.3
mne==1.11.0
h5py==3.16.0
joblib==1.5.3
specparam==2.0.0rc6
neurodsp==2.3.0
EntropyHub==2.0
matplotlib==3.10.8
scikit-learn==1.7.2
numba==0.64.0
pillow>=9.0.0
pandas>=2.0.0
seaborn>=0.13.0
